@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(24, 24, 24);

  min-width: 930px;
}

main {
  padding-left: 40px;
  padding-right: 40px;
}
/* Header */
.Header {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;

  position: sticky;
  top: 0px;
  z-index: 1;

  background-image: url('../src/header_img.jpg');
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-position: center;

  margin-bottom: 20px;
}

.Logo {
  font-family: 'Goldman';
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 251, 251);
  text-shadow: 0px 4px 8px rgba(255, 245, 57, 0.74);

  text-align: center;
  background-color: rgb(24, 24, 24);
  min-width: 500px;
  margin-left: 40px;
}

.Header nav {
  width: 100%;
  padding-left: 40px;
}

.Header nav ul {
  height: 50px;
  display: flex;
  align-items: center;
}
.Header nav ul li {
  font-family: 'Nanum Gothic';
  font-weight: bold;
  color: rgb(255, 251, 251);
  font-size: 20px;

  text-align: center;
  padding: 10px 0px;
  min-width: 150px;
  cursor: pointer;
  background-color: rgb(24, 24, 24);
}

/* TitleBox */

.TitleBox {
  font-family: 'Nanum Gothic';
  font-weight: bold;
  color: rgb(255, 251, 251);
  font-size: 25px;

  height: 80px;
  display: flex;
  align-items: center;
}

/* Genre */
.Genre {
  font-size: 13px;
  background-color: rgb(233, 232, 232);
  padding: 5px 15px;
  border-radius: 20px;

  margin-right: 10px;
}

/* NowHot */

.NowHot_wrapper {
}

.NowHot {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;

  width: 100%;
  height: 60vh;
  min-height: 400px;
  max-height: 550px;
}

.NowHot img {
  flex-grow: 1;
  margin-right: 2em;
  min-width: 150px;
  max-width: 400px;
}

.NowHot_info {
  width: 70%;
  padding: 3em;
  box-sizing: border-box;

  font-size: 12px;

  background-size: 100% 100%;
  cursor: pointer;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.NowHot_rank {
  color: white;
  text-shadow: 0px 4px 8px rgba(255, 245, 57, 0.74);
  font-family: 'Goldman';
  font-style: italic;
  font-size: 7rem;
}

.NowHot_title {
  font-style: italic;
  font-size: 3rem;
  color: white;
  font-weight: bold;

  margin-bottom: 1rem;
}

.NowHot_genre {
  display: flex;
}

.NowHot_summary {
  width: 50%;
  color: whitesmoke;
  font-size: 1rem;
  line-height: 1.3em;

  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/* Top20 */
.top10_wrapper {
  display: flex;
}

.top10_movie {
  display: flex;
  align-items: flex-end;

  margin-right: 20px;
}

.top10_rank {
  font-family: 'Goldman';
  font-style: italic;
  color: white;
  font-size: 5em;
  padding-right: 20px;
}

.top10_movie img {
  width: 200px;
  height: 270px;

  cursor: pointer;
  border-radius: 5px;
}
