@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(24, 24, 24);

  min-width: 930px;
}

main {
  padding-left: 40px;
  padding-right: 40px;
}
/* Header */
.Header {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;

  position: sticky;
  top: 0px;
  z-index: 1;

  background-image: url('../src/header_img.jpg');
  background-size: 100% 100%;
  background-repeat: repeat-x;
  background-position: center;

  margin-bottom: 20px;
}

.Logo {
  font-family: 'Goldman';
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 251, 251);
  text-shadow: 0px 4px 8px rgba(255, 245, 57, 0.74);
  cursor: pointer;

  text-align: center;
  background-color: rgb(24, 24, 24);
  min-width: 500px;
  margin-left: 40px;
}

.Header nav {
  width: 100%;
  padding-left: 40px;
}

.Header nav ul {
  height: 50px;
  display: flex;
  align-items: center;
}
.Header nav ul li {
  font-family: 'Nanum Gothic';
  font-weight: bold;
  color: rgb(255, 251, 251);
  font-size: 20px;

  text-align: center;
  padding: 10px 0px;
  min-width: 150px;
  cursor: pointer;
  background-color: rgb(24, 24, 24);
}

/* TitleBox */

.TitleBox {
  font-family: 'Nanum Gothic';
  font-weight: bold;
  color: rgb(255, 251, 251);
  font-size: 25px;

  height: 80px;
  display: flex;
  align-items: center;
}

/* Genre */
.Genre {
  font-size: 13px;
  background-color: rgb(233, 232, 232);
  padding: 5px 15px;
  border-radius: 20px;

  margin-right: 10px;
}

/* NowHot */

.NowHot_carousel {
  width: 100%;
  height: 52vh;
  position: relative;

  overflow: hidden;
  object-fit: cover;
}

.NowHot_wrapper {
  display: flex;
  height: 52vh;
  width: calc(300% + 60px);
}

.NowHot_carousel-slide {
  width: 33%;
}

.carousel-prev,
.carousel-next {
  font-size: 30px;
  color: rgba(252, 252, 252, 0.9);
  cursor: pointer;

  position: absolute;
  top: 50%;
  padding: 10px;
  border-radius: 50%;

  transition: all 0.2s ease-in-out;
}

.carousel-next {
  right: 0;
}

.carousel-next:hover,
.carousel-prev:hover {
  background-color: rgba(5, 5, 5, 0.5);
}

.carousel-circle {
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  display: flex;
}

.circle {
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.6);
  padding: 10px;
  margin-right: 1rem;
}

.circle-cur {
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 1);
  padding: 10px;
  margin-right: 1rem;
}

.NowHot {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;

  min-width: 930px;
}

.NowHot img {
  width: 30%;
  max-width: 370px;

  margin-right: 2rem;
  border-radius: 10px;
}

.NowHot_info {
  width: 70%;
  padding: 3rem;
  box-sizing: border-box;
  border-radius: 10px;

  font-size: 12px;

  background-size: 100% 100%;
  cursor: pointer;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.NowHot_rank {
  color: white;
  text-shadow: 0px 4px 8px rgba(255, 245, 57, 0.74);
  font-family: 'Goldman';
  font-style: italic;
  font-size: 6rem;
}

.NowHot_title {
  font-style: italic;
  font-size: 3rem;
  color: white;
  font-weight: bold;

  margin-bottom: 1.3rem;
}

.NowHot_genre {
  display: flex;
}

.NowHot_summary {
  width: 50%;
  color: whitesmoke;
  font-size: 1rem;
  line-height: 1.3em;

  margin-top: 1.3rem;

  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

/* Top10 */

.top10_movie {
  display: flex;
  align-items: flex-end;

  margin-right: 20px;
}

.top10_rank {
  font-family: 'Goldman';
  font-style: italic;
  color: white;
  font-size: 5em;
  padding-right: 20px;
}

.top10_movie img,
.top10_noPoster {
  width: 200px;
  height: 270px;

  cursor: pointer;
  border-radius: 5px;
}

.top10_noPoster {
  background-image: url(/src/no-img.png);
  background-size: 200px 270px;
  font-family: 'Nanum Gothic';
  font-weight: bold;
  font-size: 1.5rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------Detail Page-------------------*/

.detail_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail_top_wrapper {
  display: flex;
  justify-content: flex-start;
  width: 900px;
  margin-bottom: 30px;
}

.detail_poster {
  width: 300px;
  height: 450px;
  margin-right: 20px;
}

.detail_right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail_info-title {
  font-family: 'Nanum Gothic';
  font-weight: bold;
  font-size: 2rem;
  color: #ffc200;

  margin-bottom: 10px;
}

.detail_info-plus {
  display: flex;
  color: white;

  margin-bottom: 30px;
}

.detail_info-plus_date {
  margin-right: 20px;
  padding-right: 20px;
  border-right: white 1px solid;
}

.detail_info-genres {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  margin-bottom: 20px;
}

.detail_img-carousel {
  width: 550px;
}

.detail_summary {
  color: white;
  font-size: 0.9rem;
  width: 900px;

  word-spacing: 0.2px;
  line-height: 30px;
}

.detail_casts {
  width: 900px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.casts_list {
  display: flex;
  flex-wrap: wrap;
}

/* Cast Component */
.Cast {
  width: 110px;
  display: flex;
  flex-direction: column;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 1rem;
  text-align: center;
  color: white;
}

.cast_img-wrapper {
  position: relative;
}

.cast_img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.cast_heart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 0;

  width: 110px;
  height: 110px;
  background-color: rgba(5, 5, 5, 0.3);
  border-radius: 50%;

  font-size: 45px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 2s linear;
}

.cast_heart-liked {
  color: rgb(250, 88, 88);
  opacity: 1;
}

.cast_heart:hover {
  opacity: 1;
}

.cast_noImg {
  width: 110px;
  height: 110px;
  background-image: url(no-img.png);
  background-size: cover;
  filter: opacity(0.9) drop-shadow(0 0 0 #ffffff);
}

.cast_name {
  font-weight: bold;
  margin-bottom: 10px;
}

.cast_darkClick,
.cast_whiteClick {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: absolute;
  top: 0;

  width: 110px;
  height: 110px;
  border-radius: 50%;

  font-size: 45px;
  opacity: 1;
}

.cast_darkClick {
  background-color: rgba(5, 5, 5, 0.7);
}

.cast_whiteClick {
  cursor: auto;
}
